{% extends 'food/base.html' %}


{% block body %}
    {% for item in item_list %}
        <div class="container">
            <div class="row" style="margin: 20px;">
                <div class="col-md-3  ">
                    <img src="{{ item.item_image }}" alt="" 
                         height="150px">
                </div>
                <div class="col-md-3 " style="margin: 20px 20px 20px 150px;">
                    <h3>{{ item.item_name }}</h3>
                    <h5>{{ item.item_description }}</h5>
                    <h6>${{ item.item_price }}</h6>
                    <h6>{{ item.user_name }}</h6>
                </div>
                <div class="col-md-1" style="margin: 20px 20px 20px 80px;">
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
                </div>
            </div>
        <p></p>
        </div>

    {% endfor %}


{% endblock %}
